@model AgroPrice.Services.Account.Models.NavigationViewModel
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">AgroPrice</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Kreu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="ThePriceTrend" asp-action="Index">Trendi i cmimeve</a>
                </li>

            </ul>
        </div>
        <ul class="nav navbar-nav navbar-right">
            @if (User.Identity.IsAuthenticated)
            {
                @if (User.IsInRole("Seller"))
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="PointOfSale" asp-action="PointOfSaleDetails" asp-route-id="@Model.User.PointOfSaleId">Pika Shitjes</a>
                    </li>
                }
                @if (User.IsInRole("Admin"))
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="Admin" asp-controller="Home" asp-action="Index">Dashboard</a>
                    </li>
                }
                @if (User.IsInRole("Buyer"))
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Cart" asp-action="Index">Shporta ime</a>
                    </li>
                }
                @if (User.IsInRole("PriceOperator"))
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="WholeSaleMarket" asp-action="PointOfSaleList" asp-route-wholeSaleMarketId="@Model.User.WholeSaleMarketId">Pikat e shitjes</a>
                    </li>
                }
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="Account" asp-action="Logout">Dil</a>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Hyr</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="Account" asp-action="Register">Regjistrohu</a>
                </li>

            }
        </ul>
    </div>
</nav>