@model AgroPrice.Services.WholeSaleMarket.Models.FindProductByWholeSaleMarketModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="cd-section">
    <div class="team-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12 ml-auto mr-auto text-center">
                    <h2 class="title">Tregjet tona</h2>
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <span class="bmd-form-group">
                                <span class="input-group">
                                    @Html.DropDownList("WholeSaleMarketsID", (IEnumerable<SelectListItem>) ViewBag.WholeSaleMarkets, null, new {@class = "form-control"})
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <div id="search">
               
            </div>
        </div>
    </div>
</div>



@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/jquery-ajax-unobtrusive@3.2.6/dist/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="~/Content/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Page level plugin JavaScript
    <script src="~/Content/vendor/chart.js/Chart.min.js"></script>-->
    <script src="~/Content/vendor/datatables/jquery.dataTables.js"></script>
    <script src="~/Content/vendor/datatables/dataTables.bootstrap4.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="~/Content/js/sb-admin.min.js"></script>
    <!-- Demo scripts for this page-->
    <script src="~/Content/js/demo/datatables-demo.js"></script>
    <script>
        $('select[name="WholeSaleMarketsID"]').change(function () {
            debugger;
            var id = $(this).val();
            $.ajax({
                    url: "/Home/FindProductByWholeSaleMarket",
                    type: 'POST',
                    data: { WholeSaleMarketsID: id },
                    cache: false,
                    async: true,
                    dataType: "html",
                    success: (data) => {
                    debugger;
                    document.getElementById("search").innerHTML = data;
                    //debugger;
                  
                    }
            });
        })
    </script>
}