@model AgroPrice.Services.Product.Models.ProductModel
@{
    Layout = null;
}

<form asp-action="RegisterProduct" asp-controller="Product" method="POST" class="form-group"
      data-ajax="true" data-ajax-method="POST" data-ajax-mode="Replace" data-ajax-update="#registerProductBody"
      data-ajax-complete="completedregisterProduct">
    <label asp-for="Name" class="control-label">@Model.Name</label>
    <hr/>

    <input asp-for="PointOfSaleId" class="form-control" hidden/>
    <input asp-for="Name" class="form-control" hidden/>
    <div class="form-group">
        <label asp-for="Quantity" class="control-label">Sasia</label>
        <input asp-for="Quantity" class="form-control"/>
        <span asp-validation-for="Quantity" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price" class="control-label">Cmimi</label>
        <input asp-for="Price" class="form-control"/>
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Origin" class="control-label">Origjina</label>
        <input asp-for="Origin" class="form-control"/>
        <span asp-validation-for="Origin" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Regjistro" class="btn btn-primary"/>
    </div>
</form>

<script>
    completedregisterProduct = function (xhr) {
        debugger;
        if (xhr.responseJSON.success) {
            // hide the modal
            $('#registerProduct').modal('hide');

            // show an alert to the user
            Swal.fire({
                title: 'Success!',
                text: "Produkti u regjistrua per diten e sotme!",
                type: 'success'
            }).then((result) => {
                // reload the page
                location.reload(true);
            });
        }
    };
</script>