@model AgroPrice.Services.Account.Models.ChangePasswordModel
@{
    Layout = null;
}

<form asp-action="ChangePassword" asp-controller="User" method="POST" class="form-group"
      data-ajax="true" data-ajax-method="POST" data-ajax-mode="Replace" data-ajax-update="#changePasswordBody"
      data-ajax-complete="completedChangePassword">
    <hr />

    <input asp-for="Id" class="form-control" hidden />
    <div class="form-group">
        <label asp-for="Password" class="control-label">Fjalekalimi</label>
        <input asp-for="Password" type="password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmationPassword" class="control-label">Perserit fjalekalimin</label>
        <input asp-for="ConfirmationPassword" type="password" class="form-control" />
        <span asp-validation-for="ConfirmationPassword" class="text-danger"></span>
    </div>
   
    <div class="form-group">
        <input type="submit" value="Ndrysho" class="btn btn-primary" />
    </div>
</form>

<script>
    completedChangePassword = function (xhr) {
        debugger;
        if (xhr.responseJSON.success) {
            // hide the modal
            $('#changePassword').modal('hide');

            // show an alert to the user
            Swal.fire({
                title: 'Success!',
                text: "Fjalekalimi u ndryshua me sukses!",
                type: 'success'
            }).then((result) => {
                // reload the page
                location.reload(true);
            });
        } else {
            Swal.fire({
                title: 'Gabim!',
                text: "Ndryshimi i fjalekalimit deshtoi deshtoi!",
                type: 'error'
            });
        }
    };
</script>